.name_right {
    margin-left: 10px;
}

.name_left {
    margin-right: 10px;
}

.content_right {
    word-wrap: break-word;
    margin-right: 15px;
    font-size: 1rem;
    text-align: left;

    display: flex;
    justify-content: flex-end;
}

.content_right .content {
    background-color: #1AAD19;
    color: white;
    max-width: 90%;
    padding: 10px;
    border-radius: 10px;
    white-space: pre-wrap;
    /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;
    /* Mozilla, since 1999 */
    white-space: -pre-wrap;
    /* Opera 4-6 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    word-wrap: break-word;
    /* Internet Explorer 5.5+ */
}

.content_left {
    /* word-wrap: break-word; */
    margin-left: 15px;
    font-size: 1rem;
    text-align: left;
    padding: 2px;

    display: flex;
}

.content_left .content {
    /* word-wrap: break-word; */
    background-color: #ffffff;
    max-width: 90%;
    padding: 10px;
    border-radius: 10px;

    white-space: pre-wrap;
    /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;
    /* Mozilla, since 1999 */
    white-space: -pre-wrap;
    /* Opera 4-6 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    word-wrap: break-word;
    /* Internet Explorer 5.5+ */
}

.url_right {
    margin-left: 15px;
    margin-right: 15px;

}

.url_left {
    margin-left: 15px;
    margin-right: 15px;
}

::-webkit-scrollbar {
    height: 10px !important;
    width: 10px !important;
}

::-webkit-scrollbar-thumb {
    border-radius: 0;
    border-style: dashed;
    background-color: #DCE1E6;
    border-color: #e2242400;
    border-width: 1px;
    background-clip: padding-box;
}



::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    /*border-radius: 10px;*/
    background: white;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(157, 165, 183, 0.7)
}


.word-break {
    word-break: break-all;
}


.infinite-list-wrapper p {
    text-align: center;
}


.show-input-content {
    height: 100%;
    width: 100%;
    border: 1px solid black;

}

.emotion {
    width: 22px !important;
    height: 22px !important;
    margin-right: 4px;
    line-height: 40px;
    top: 5px;

}


.icon {
    width: 2em;
    height: 2em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

.talk {
    display: flex;
    flex-direction: column;
    border: 1px solid #888888;
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

@media only screen and (max-width: 980px) {
    .talk {
        width: 100%;
    }
}

.talk-header {
    width: 100%;
    /* height: 30px; */
    z-index: 1;
    text-align: left;
    padding-left: 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #DCE1E6;
}

.talk-message-title {
    flex: 1;
    font-size: medium;
    font-weight: bold;
}



.talk-header-icon {
    display: flex;
    justify-content: flex-end;
    /* padding-right: 20px; */
}

.talk-content {
    overflow-y: auto;
    height: 350px;
    flex: 1
}

.talk-content p {
    margin: auto;
}

.talk-message {
    border-top: 1px solid #DCE1E6;
    /* height: 35px; */

    display: flex;
    padding: 10px;
}

.talk-message-face {
    width: 40px;
    padding-left: 2px;
    /* padding-top: 10px; */
}

.talk-message-content {
    /* padding-top: 10px; */
    width: 280px;
    flex: 1
}

.talk-message-send {
    /* padding-top: 20px; */

    margin: 0 0 0 10px;
    cursor: pointer;
}

.talk-message-send button {
    border: none;
    border-radius: 4px;
    background-color: #1AAD19;
    color: #fff;
    cursor: pointer;
}


.talk-message-send button:hover {
    background-color: #2BA245;
}

.talk-message-clear {

    margin: 0 0 0 10px;
    cursor: pointer;
}

.talk-message-clear button {
    margin: 5px;
    border: none;
    border-radius: 4px;
    background-color: #b5b6b5;
    color: #fff;
    cursor: pointer;
}


.talk-message-clear button:hover {
    background-color: #ebe70c;
}